# Ignore node_modules
node_modules/

# Ignore the final folders
final-1-after/
final-2-after/
final-3-after/
final-4-after/
final-5-after/
final-6-final/
starter/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and distribution folders
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?